.footer {
    margin: 1%;
}

.movetop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 300%;
    background-color: white;
    color: rgb(185, 185, 185);
}

.link {
    font-size: 1.8vw;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}