.App {
  text-align: center;
  white-space: pre-line;
}

.header {
  text-align: right;
  margin: 1vw;
}

.link {
  font-size: 1.8vw;
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

/* footer */
.left {
  flex: 1;
}

.center {
  flex: 3;
}

.right {
  flex: 1;
}