#Card {
  width: 20%;
  max-width: 20rem;
  min-height: 20%;
  height: 10em;
  display: flex;
  /*주축의 방향*/
  justify-content: center;
  /*교차축의 방향*/
  align-items: center;
  /*여러줄인 경우, */
  align-content: flex-start;
  border-radius: 1rem;
}

#container {
  margin-bottom: 1em;
  min-height: 400px;
  height: 50%;
}