.second {
    display: flex;
    text-align: left;
    font-size: 1vw;
    flex-wrap: wrap;
}

.second-left {
    flex-basis: 25vw;
    height: 35vw;
    flex-grow: 1;
}

.second-left div {
    margin: 5em 0em 0em 20em;
}

.second-left div p {
    margin: 0em 0em 3em 2em;
    height: 3rem;
    width: 16rem;
}

/* ................ */

.second-right {
    flex-basis: 20vw;
    height: 35vw;
    flex-grow: 1;
}

.second-right div {
    margin: 5em 0em 0em 22%;
}

.second-right .t  {
    margin-top: -5%;
    margin-left: -4%;
    margin-bottom: 5%;
    width: 25em;
}

.second-right div label {
    display: inline-block;
    border-radius: 2vw;
    color: #fff;
    background-color: #999999;
    padding: 10% 10%;
    vertical-align: middle;
    cursor: pointer;
    margin: 0% 0% 0% -15%;
}

.second-right div input[type="file"] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.second-right div label:hover {
  background-color: rgb(185, 185, 185);
}

.labelbutton {
    display: inline-block;
    border-radius: 2vw;
    border-color: rgb(255, 255, 255, 0);
    color: #fff;
    background-color: #999999;
    padding: 10% 10%;
    vertical-align: middle;
    cursor: pointer;
    margin: 0% 0% 0% -15%;
    font-size: 1vw;
}

#cate {
    display: block;
    border-radius: unset;
    background-color: unset;
    cursor: pointer;
    padding: 2% 1%;
    margin: -1% 0% 0% 20%;
}

#Input-Cate {
    width: 20rem !important;
    border-radius: 2vw;
    background-color: #999999;
    margin: 0% 0% 0% -15% !important;
    margin: unset;
}

.toggle {
  padding: 7% 20%;
  margin: unset !important;
  cursor: pointer;
}

.toggle li {
  width: auto;
  background-color: #FFF;
  border-radius: 2vw;
  padding: 0% 20%;
  margin: 5% 0%;
  list-style: none;
}

.toggle li:hover {
  background-color: rgb(210, 231, 250);
}

.toggle:hover {
  background-color: rgba(219, 235, 249, 0.522);
  border-radius: 2vw;
  margin: unset;
}