.second {
    display: flex;
    text-align: left;
    font-size: 1vw;
    flex-wrap: wrap;
    position: relative;
}

.second-left {
    flex-basis: 25vw;
    height: 35vw;
    flex-grow: 1;
}

.second-left div {
    margin: 5em 0em 0em 20em;
}

.second-left div p {
    margin: 0em 0em 3em 2em;
    height: 3rem;
    width: 16rem;
}

/* ................ */

.second-right {
    flex-basis: 20vw;
    height: 35vw;
    flex-grow: 1;
}

.second-right div {
    margin: 5em 0em 0em 22%;
}

.second-right .t  {
    margin-top: -5%;
    margin-left: -4%;
    margin-bottom: 5%;
    width: 25em;
}

.second-right div label {
    display: inline-block;
    border-radius: 2vw;
    color: #fff;
    background-color: #999999;
    padding: 10% 10%;
    vertical-align: middle;
    cursor: pointer;
    margin: 0% 0% 0% -15%;
}

.second-right div input[type="file"] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.second-right div label:hover {
  background-color: rgb(185, 185, 185);
}

.labelbutton {
    display: inline-block;
    border-radius: 2vw;
    border-color: rgb(255, 255, 255, 0);
    color: #fff;
    background-color: #999999;
    padding: 10% 10%;
    vertical-align: middle;
    cursor: pointer;
    margin: 0% 0% 0% -15%;
    font-size: 1vw;
}

#Input-Cate {
    width: 25rem !important;
    border-radius: 2vw;
    background-color: #999999;
    margin: 0% 0% 5% -40% !important;
}

.toggle {
    width: 35% !important;
    display: inline !important;
    padding: 2% 5% !important;
    margin: 0% 0% 0% 2.6% !important;
    cursor: pointer;
}

.toggle li {
    width: 100px !important;
    background-color: #FFF;
    border-radius: 2vw;
    padding: 0% 20%;
    margin: 5% 0%;
    list-style: none;
}

.toggle li:hover {
    background-color: rgb(210, 231, 250);
}

.toggle:hover {
    background-color: rgba(219, 235, 249, 0.522);
    border-radius: 2vw;
    margin: unset;
}

.back_button{
    background-color: gainsboro;
    color: gray;
    border-radius: 5vw;
    border-color: rgb(185, 185, 185, 0);
    font-size: 1.1vw;
    padding: 0.5vw 1vw 0.5vw;
    cursor: pointer;
    margin: 0% 0% 0% 20% !important;
}