/* 모바일 CSS */
@media all and (min-width: 0px){
    .tct {
        min-height: 400px;
        height: 50%;
        font-size: 13px;
    }

    .tct-left {
        margin: 8% 8% 8% 8%;
    }

    .tct-right {
        margin: 0% 8% 20% 8%;
        border-top : thick solid #a9a9a9;
    }

    .tct h1 {
        text-align: center;
        font-size: 20px;
        margin-top: 8%;
    }

    h6 {
        background-color: rgb(185, 185, 185);
        border-radius: 2vw;
        text-align: center;
        padding: 5%;
        margin: 10% 10%;
        width: 70%;
        font-size: 20px;
    }

    .tct-right h5 {
        text-align: center;
        padding: 5%;
        margin: 10% 10%;
        width: 70%;
        font-size: 20px;
        border-bottom: 2px solid #a2a2a2;
    }

    .percent {
        border-bottom: 2px solid #d9d9d9 !important;
    }

    .tct-right h5:hover {
        background-color: rgba(224, 224, 224, 0.758);
    }

    .tct-keyword {
        list-style-type: none !important;
        border-radius: unset !important;
        padding: 5% 10% !important;
        margin: 0% 10% !important;
        text-align: center !important;
        font-size: 3vw !important;
    }

    .tct-keyword:hover {
        background-color: rgba(224, 224, 224, 0.758) !important;
    }

    .tct-right li {
        list-style-type: none;
        border-radius: unset;
        padding: 5% 10%;
        margin: 0% 10%;
        text-align: center;
        font-size: 3vw;
    }

    .tct-right li:hover {
        background-color: rgba(224, 224, 224, 0.758);
    }

    #block {
        padding: 5% 5% 3% 5%;
        margin: 0% 10% 0 10%;
    }

    span {
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 10%;
        margin: 0% 5%;
        border-radius: 1Vw;
        box-shadow: 3px 3px 5px rgba(182, 182, 182, 0.483);
    }

    #percent {
        width: 50%;
        padding: unset;
        margin: unset;
        border-radius: unset;
        box-shadow: unset;
        text-align: center;
    }

    #tct-keywords {
        display: inline-block !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 5% 0% 5% 0% !important;
        padding: 0% 5% 0% 5% !important;
    }

    p {
        margin: 0 0 5% 0;
    }

    .t {
        margin: 0 0 10% 0;
    }

    label {
        background-color: #999999;
        cursor: pointer;
        margin: 0 0 0 0;
        border-radius: 2vw;
        color: #fff;
        padding: 10% 10%;
        vertical-align: middle;
        cursor: pointer;
    }

    pre {
        padding: 0 0 100% 0;
    }
    
    label:hover {
        background-color: rgb(185, 185, 185);
    }
    
    #input-file {
        display: none;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }

    /* toggle */

    #Input-Cate{
        background-color: #999999;
        border-radius: 2vw;
        width: 40%;
        padding: 5% 10%;
        margin: -5% 0% 15% 20%;    
        cursor: pointer;
        font-size: 15px;
        list-style: none;
        text-align: left;
    }

    .toggle {
        margin: 0 0 5% 0;
    }

    .toggle:hover {
        background-color: rgba(219, 235, 249, 0.522);
        border-radius: 1vw;
        width: 100%;
        margin: 0% 0%;
        padding: 5% 5%;
    }

    li {
        background-color: #FFF !important;
        border-radius: 2vw !important;
        padding: 5% 5% !important;
        margin: 5% 0% !important;
        text-align: center !important;
    }

    li:hover {
        background-color: rgb(210, 231, 250) !important;
    }

    .tct-footer {
        position : fixed;
        width: 100%;
        display: flex;
        bottom : 0;
        text-align: center;
        margin: 0 0 0% -8%;
        padding-bottom: 10%;
        background-color: #fff;
    }
}

/* PC&기본 CSS min(960px, 1024px)*/
/* ( 원하는 픽셀 / 화면 픽셀 ) * 100 = X% */
/* 위 처럼 계산해서 가로, 세로 값을 정한다*/
@media all and (min-width: 768px){
    .tct {
        display: flex;
        text-align: left;
        min-height: 400px;
        height: 50%;
    }
    
    .tct-left {
        width: 50%;
        margin: 0 0 0 20%;
    }
    
    .tct-right {
        width: 50%;
        padding: 0 0 0 3%;
        margin: 0 20% 0 3%;
        height: 500px;
        border-left: thick solid #a9a9a9;
        border-top: unset;
    }

    .tct h1 {
        text-align: left;
        font-size: 30px;
    }

    h6 {
        background-color: rgb(185, 185, 185);
        border-radius: 2vw;
        text-align: center;
        padding: 5%;
        margin: 10% 10%;
        width: 70%;
        font-size: 30px;
    }

    .tct-right h5 {
        text-align: center;
        padding: 5%;
        margin: 10% 10%;
        width: 70%;
        font-size: 30px;
        border-bottom: 2px solid #a2a2a2;
    }

    .percent {
        border-bottom: 2px solid #d9d9d9 !important;
    }

    .tct-right h5:hover {
        background-color: rgba(224, 224, 224, 0.758);
    }

    .tct-keyword {
        list-style-type: none !important;
        border-radius: unset !important;
        padding: 5% 10% !important;
        margin: 0% 10% !important;
        text-align: center !important;
        font-size: 1.2vw !important;
    }

    .tct-keyword:hover {
        background-color: rgba(224, 224, 224, 0.758) !important;
    }

    #block {
        padding: 5% 5% 3% 5%;
        margin: 0% 10% 0 10%;
    }

    span {
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 10%;
        margin: 0% 5%;
        border-radius: 1Vw;
        box-shadow: 3px 3px 5px rgba(182, 182, 182, 0.483);
    }

    #percent {
        width: 50%;
        padding: unset;
        margin: 10% 0 0 0;
        border-radius: unset;
        box-shadow: unset;
        text-align: center;
    }

    #tct-keywords {
        display: inline-block !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 10% -5% 5% 15% !important;
        padding: 0% !important;
        font-size: 1.5vw;
    }
    
    p {
        margin: 0 0 0 8%;
        font-size: 18.4px;
    }

    #block p {
        font-size: 1vw;
        width: 110%;
        margin-left: -6%;
    }
    
    .t {
        margin: 0 0 10% 37%;
    }
    
    label {
        background-color: #999999;
        cursor: pointer;
        margin: 0 0 0 25.1%;
        border-radius: 2vw;
        color: #fff;
        padding: 10% 10%;
        vertical-align: middle;
        cursor: pointer;
    }

    pre {
        padding: 0 0 0 0;
    }
    
    label:hover {
        background-color: rgb(185, 185, 185);
    }
    
    #input-file {
        display: none;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }

    /* toggle */

    #Input-Cate{
        background-color: #999999;
        border-radius: 2vw;
        width: 40%;
        padding: 5% 10%;
        margin: -5% 15% 15% 15% !important;
        cursor: pointer;
        font-size: 15px;
        list-style: none;
    }

    .toggle {
        margin: 0 0 5% 0;
    }

    .toggle:hover {
        background-color: rgba(219, 235, 249, 0.522);
        border-radius: 1vw;
        width: 100%;
        margin: 0% 0%;
        padding: 5% 5%;
    }

    li {
        background-color: #FFF !important;
        border-radius: 2vw !important;
        padding: 5% 5% !important;
        margin: 5% 0% !important;
        text-align: center !important;
        font-size: unset !important;
    }

    li:hover {
        background-color: rgb(210, 231, 250) !important;
    }
    
    /* footer */

    .tct-footer {
        position : fixed;
        width: 100%;
        height: 2.5vw;
        display: flex;
        bottom : 0;
        text-align: center;
        margin: 0 0 0% -51%;
        padding-bottom: 2%;
        background-color: #fff;
    }

    .center {
        font-size: 1.1vw;
        margin: 0 0 0 -5%;
    }

    table {
        border: 1px solid #444444;
    }

    th, td, tr {
        border: 1px solid #444444;
      }
}